daredevil.html
<!DOCTYPE html>
<html>
  <head lang="en">
    <title>Document</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link rel="stylesheet" href="css/daredevil.css">
  </head>
  <body>
    <div class="view">
      <div class="plane main">
        <div class="circle"></div>
      </div>
    </div>
    <script src=""></script>
  </body>
</html>

daredevil.jade
doctype html
html
  head(lang="en")
    title Document
    meta(http-equiv="content-type", content="text/html; charset=UTF-8")
    meta(name="description", content="")
    meta(name="keywords", content="")
    link(rel="stylesheet", href="css/daredevil.css")
  body
    .view
        .plane.main
            - for (var x = 0; x < 6; x++)
            .circle
  
  
    script(src="")
