grid.jade
doctype html
html
  head(lang="es")
    title Grid
    meta(http-equiv="content-type", content="text/html; charset=UTF-8")
    meta(name="description", content="")
    meta(name="keywords", content="")
    link(rel="stylesheet", href="css/grid.css")
  body
    .fila.una_columna
        .columna
            h2.titulo TOP
    
    
    .fila.dos_columnas
        .columna
            h2.titulo COLUMNA 1
        .columna
            h2.titulo COLUMNA 2
    
    .fila.cuatro_columnas
        .columna
            h2.titulo COLUMNA 1
        .columna
            h2.titulo COLUMNA 2
        .columna
            h2.titulo COLUMNA 3
        .columna
            h2.titulo COLUMNA 4
    
    .fila.aside_derecha
        .columna.contenido
            h2.titulo CONTENIDO
        .columna.aside
            h2.tittle ASIDE
    
    .fila.aside_izquierda
        .columna.aside
            h2.tittle ASIDE
        .columna.contenido
            h2.titulo CONTENIDO
            
    .fila.tres_columnas
        .columna
            h2.titulo COLUMNA 1
        .columna
            h2.titulo COLUMNA 2
        .columna
            h2.titulo COLUMNA 3
    
    .fila.seis_columnas
        .columna
            h2.titulo COL 1
        .columna
            h2.titulo COL 2
        .columna
            h2.titulo COL 3
        .columna
            h2.titulo COL 4
        .columna
            h2.titulo COL 5
        .columna
            h2.titulo COL 6
    
    .fila.doce_columnas
        .columna
            h2.titulo COL 1
        .columna
            h2.titulo COL 2
        .columna
            h2.titulo COL 3
        .columna
            h2.titulo COL 4
        .columna
            h2.titulo COL 5
        .columna
            h2.titulo COL 6
        .columna
            h2.titulo COL 7
        .columna
            h2.titulo COL 8
        .columna
            h2.titulo COL 9
        .columna
            h2.titulo COL 10
        .columna
            h2.titulo COL 11
        .columna
            h2.titulo COL 12
        
    script(src="")
    

grid.html
<!DOCTYPE html>
<html>
  <head lang="es">
    <title>Grid</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link rel="stylesheet" href="css/grid.css">
  </head>
  <body>
    <div class="fila una_columna">
      <div class="columna">
        <h2 class="titulo">TOP</h2>
      </div>
    </div>
    <div class="fila dos_columnas">
      <div class="columna">
        <h2 class="titulo">COLUMNA 1</h2>
      </div>
      <div class="columna">
        <h2 class="titulo">COLUMNA 2</h2>
      </div>
    </div>
    <div class="fila cuatro_columnas">
      <div class="columna">
        <h2 class="titulo">COLUMNA 1</h2>
      </div>
      <div class="columna">
        <h2 class="titulo">COLUMNA 2</h2>
      </div>
      <div class="columna">
        <h2 class="titulo">COLUMNA 3</h2>
      </div>
      <div class="columna">
        <h2 class="titulo">COLUMNA 4</h2>
      </div>
    </div>
    <div class="fila aside_derecha">
      <div class="columna contenido">
        <h2 class="titulo">CONTENIDO</h2>
      </div>
      <div class="columna aside">
        <h2 class="tittle">ASIDE</h2>
      </div>
    </div>
    <div class="fila aside_izquierda">
      <div class="columna aside">
        <h2 class="tittle">ASIDE</h2>
      </div>
      <div class="columna contenido">
        <h2 class="titulo">CONTENIDO</h2>
      </div>
    </div>
    <div class="fila tres_columnas">
      <div class="columna">
        <h2 class="titulo">COLUMNA 1</h2>
      </div>
      <div class="columna">
        <h2 class="titulo">COLUMNA 2</h2>
      </div>
      <div class="columna">
        <h2 class="titulo">COLUMNA 3</h2>
      </div>
    </div>
    <div class="fila seis_columnas">
      <div class="columna">
        <h2 class="titulo">COL 1</h2>
      </div>
      <div class="columna">
        <h2 class="titulo">COL 2</h2>
      </div>
      <div class="columna">
        <h2 class="titulo">COL 3</h2>
      </div>
      <div class="columna">
        <h2 class="titulo">COL 4</h2>
      </div>
      <div class="columna">
        <h2 class="titulo">COL 5</h2>
      </div>
      <div class="columna">
        <h2 class="titulo">COL 6</h2>
      </div>
    </div>
    <div class="fila doce_columnas">
      <div class="columna">
        <h2 class="titulo">COL 1</h2>
      </div>
      <div class="columna">
        <h2 class="titulo">COL 2</h2>
      </div>
      <div class="columna">
        <h2 class="titulo">COL 3</h2>
      </div>
      <div class="columna">
        <h2 class="titulo">COL 4</h2>
      </div>
      <div class="columna">
        <h2 class="titulo">COL 5</h2>
      </div>
      <div class="columna">
        <h2 class="titulo">COL 6</h2>
      </div>
      <div class="columna">
        <h2 class="titulo">COL 7</h2>
      </div>
      <div class="columna">
        <h2 class="titulo">COL 8</h2>
      </div>
      <div class="columna">
        <h2 class="titulo">COL 9</h2>
      </div>
      <div class="columna">
        <h2 class="titulo">COL 10</h2>
      </div>
      <div class="columna">
        <h2 class="titulo">COL 11</h2>
      </div>
      <div class="columna">
        <h2 class="titulo">COL 12</h2>
      </div>
    </div>
    <script src=""></script>
  </body>
</html>
