iron_man.html
<!DOCTYPE html>
<html>
  <head lang="es">
    <title>Document</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link rel="stylesheet" href="">
  </head>
  <body>
    <header>
      <hgroup>
        <h1>Título Priincipal</h1>
        <h2>Título secundadadrio</h2>
      </hgroup>
    </header>
    <section id="principal"></section>
    <div id="identificador"></div>
    <p class="clase1 clase2"></p>
    <div class="clase2"></div>
    <h2>Una cabererá importante</h2>
    <p>
      Se pueden escribir varias líneas
      Se pueden escribir varias líneas
      Se pueden escribir varias líneas
    </p>
    <p>Foo es miVar</p>
    <p>Francisco</p>
    <p>Marinas</p>
    <p>Alvarez</p>
    <li>primer_nombre: Francisco</li>
    <li>apellido: Marnas</li>
    <ul>
      <li>John</li>
      <li>Paul</li>
      <li>Ringo</li>
      <li>Geroge</li>
    </ul>
    <p>Sigue dormido!</p><h1 id="article-md">article.md</h1>
<p>esto es un coche.</p>
<p>esto es una moto.</p>

        <ul>
          <li>Carlos</li>
          <li>Alberto</li>
          <li>Juan</li>
        </ul>
        <ul>
          <li>Perro</li>
          <li>Gato</li>
        </ul>
    <script src=""></script>
  </body>
</html>

iron_man.jade

doctype html
html
    head(lang="es")
        title Document
        meta(http-equiv="content-type", content="text/html; charset=UTF-8")
        meta(name="description", content="")
        meta(name="keywords", content="")
        link(rel="stylesheet", href="")
    body
    
        include header.jade
        
        section#principal
        #identificador
        p.clase1.clase2
        .clase2
        h2 Una cabererá importante
        p
            |Se pueden escribir varias líneas
            |Se pueden escribir varias líneas
            |Se pueden escribir varias líneas
        
        - var foo = 'miVar';
        p Foo es #{foo}
        
        -usuarios =['Francisco','Marinas', 'Alvarez']
        -for usuario in usuarios
            p #{usuario}
        
        -obj = {primer_nombre: 'Francisco', apellido:'Marnas'}
        -each val, key in obj
            li #{key}: #{val}
        
        - beatles =['John', 'Paul', 'Ringo', 'Geroge']
        ul
            each beatle in beatles
                li #{beatle}
        
        - despierto = false
        - if (despierto)
            p Haz Cafe!
        - else
            p Sigue dormido!
            
        include:markdown article.md
        
        mixin personas(personas)
            ul
                each persona in personas
                    li #{persona}
                    
        - personas = ['Carlos', 'Alberto', 'Juan']
        mixin personas(personas)
        
        - animales = ['Perro', 'Gato']
        mixin personas(animales)
        
        script(src="")
    
